# Python 缓存文件
__pycache__/
*.py[cod]
*$py.class
# 存放数据
dataroot/
*.ply
*.obj
*.glb
*.jpg
*.png
*.pt
# 环境配置
.env
venv/
env/
.venv/
# VS Code 配置
.vscode/
# 操作系统文件
.DS_Store
# SAM checkpoints
dataengine/seg2d/sam_vit_h_4b8939.pth
# 脚本运行日志
render_exceptions.txt
orientation_exceptions*.txt
sam_seg_exceptions.txt
get_masks_time.txt
name_part_exceptions*.txt
